body {
    background-color: lightpink;
    color: black;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple); 
    color: black; 
    padding: 20px; 
    font-size: 16pt;
}

header:hover {
    background: lightseagreen;
}

header:active {
    color: darkred;
    font-size: 26px;
}

footer {
    background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple); 
     color: black; 
     font-style: italic; 
     text-align: right; 
     margin: 0px;
    
}

footer:hover {
    background: lightseagreen;
}

footer:active {
    color: darkred;
    font-size: 26px;
}

a {
    color: green; 
    text-decoration: none;
    transition: 600ms 2s;
    text-shadow: 7px 5px 3px rgb(141, 209, 5);

}

a:visited {
    color: blueviolet;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition:600ms 0.3s;
}
a:active {
    color: yellow;
    background-color: green;
}